# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install libpcap.so
          command: sudo apt-get install libpcap0.8

      - run:
          name: Resolve all Maven dependencies
          command: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run:
          name: Execute Maven to clean, compile, test, and package
          command: mvn clean package

      - run:
          name: Execute Maven to create JaCoCo report and submit Coveralls data
          command: mvn jacoco:report coveralls:report -DrepoToken=${repoToken}

      - run:
          name: Save test results
          command: |
            mkdir -p ~/surefire-reports/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/surefire-reports/ \;
          when: always

      - store_test_results:
          path: ~/surefire-reports

      - run:
          name: Save package
          command: |
            mkdir -p ~/package/
            find . -type f -regex ".*/target/.*jar" -exec cp {} ~/package/ \;
          when: always

      - store_artifacts:
          path: ~/package
